body {
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    width: 65vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1.08fr 4fr;
    grid-template-rows: 1.05fr 5fr;
}

.dashboard {
    color: white;
    background-color: rgba(132, 0, 255, 0.582);
    grid-area: 1/1/3/2;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 22px;
    font-weight: bold;
    font-size: 20px;
}

.dashboard>div {
    display: flex;
    gap: 18px;
    align-items: center;
}

.dashboard>div:first-of-type{
    font-size: 26px;
    gap: 8px;
}

.dashboard>div>img {
    filter: invert(1);
}

.spacer {
    height: 26px;
}

.topbar {
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 5px rgb(155, 155, 155);
    z-index: +1;
    font-size: 10px;
    display: grid;
    grid-template-columns: 0.62fr 0.38fr;
    grid-template-rows: 0.8fr 1fr;
    font-weight: bolder;
}

.search-area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.search-area>input {
    width: 80%;
    background-color: rgba(246, 239, 255, 0.964);
    border: none;
    height: 40%;
    border-radius: 1rem;
}

.top-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 18px;
    padding-left: 20px;
}

.greeting {
    display: flex;
    justify-content: start;
    padding-left: 40px;
    align-items: center;
    gap: 20px;
}

.greeting-box>p:nth-child(2) {
    font-size: 20px;
    margin-top: -6px;
}

#mainpfp {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.topbar-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
    padding-right: 22px;
}

.topbar-buttons>button {
    background-color: rgba(132, 0, 255, 0.582);
    border: none;
    height: 36px;
    width: 90px;
    border-radius: 2rem;
    color: white;
    font-weight: bolder;
    font-size: 13px;
}

.main-body {
    background-color: rgba(246, 239, 255, 0.964);
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: repeat(2, 1fr);
}

.projects-container {

    grid-area: 1/1/3/2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 16px;
    grid-template-rows: 0.1fr 1fr 1fr 1fr 0.1fr;
}

.projects-container>p:first-of-type {
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
    margin-top: 8px;
}

img {
    height: 26px;
    width: auto;
}

.projects-container>p {
    grid-area: 1/1/2/3;
}

.project {
    padding: 24px;
    font-size: 16px;
    box-shadow: inset 6px 0em rgb(255, 187, 0),
                1px 1px 5px rgb(155, 155, 155);
    border-radius: 0.5rem;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: 1fr 2fr 0.7fr;
}

.project>p {
    font-weight: bolder;
    padding-bottom: 0px;
    margin-bottom: 0px;
    grid-area: 1/1/2/3;
}

.project>div:first-of-type {
    color: rgb(102, 102, 102);
    grid-area: 2/1/3/3;
}

.project-icons {
    grid-area: 3/2/4/3;
    display: flex;
    justify-content: space-between;
}

.announcements-container {
    font-size: 11px;
    padding: 20px;
    display: grid;
    grid-template-rows: 1.27fr 6fr;
    padding: 0px;
    padding-left: 5px;
}

.announcements-container>p {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 4px;
}

.announcements {
    background-color: white;
    box-shadow: 1px 1px 5px rgb(155, 155, 155);
    border-radius: 0.5rem;
    height: 30vh;
    width: 10vw;
    padding: 24px;
    height: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.announcements>div {
    border-bottom: 1px solid rgb(160, 160, 160);
    max-width: 10vw;
    margin: 0px;
    padding-top: 1px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.announcements>div:nth-child(3) {
    border-bottom: none;
}

.announcements>div>p {
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 12px;
}

.announcements>div>div {
    color: rgb(102, 102, 102);
}

.trending-container {
    font-size: 12px;
    padding: 20px;
    display: grid;
    grid-template-rows: 0.8fr 8.4fr;
    padding: 0px;
    padding-left: 5px;
}

.trending-container>p {
    font-size: 18px;
    font-weight: bold;
    margin: 0px;
    padding-top: 0px;
}

.trending {
    background-color: white;
    box-shadow: 1px 1px 5px rgb(155, 155, 155);
    border-radius: 0.5rem;
    height: 30vh;
    width: 10vw;
    padding: 24px;
    height: 12vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.trending>div {
    display: flex;
    align-items: center;
    gap: 12px;
}

.trending>div>img, #smallpfp{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    object-fit: cover;
}

.trending>div>div>a {
    text-decoration: none;
    background: none;
    color: inherit;
    font-weight: bold;
}

.trending>div>div {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.trending>div>div>div {
    color: rgb(102, 102, 102);
}
